{% extends 'layout.html.twig' %}

{% block content %}

    <script type="text/javascript">
        var low_order = '{{ low_order }}';
        var has_delivery = '{{ hasDeliveryFee }}';

        {% if logged == 0  %}
        var logged = 0;
        {% else %}
        var logged = 1;
        {% endif %}

        {% if firstOrderDeleted is defined and firstOrderDeleted != false %}
            var firstOrderDeleted = true;
        {% else %}
            var firstOrderDeleted = false;
        {% endif %}
    </script>

    <script>
        $(document).ready(function() {
            $('#login-tab').click(function () {
                $('#register').css('display', 'none');
                $('#login').css('display', 'block');
            });

            $('#register-tab').click(function () {
                $('#login').css('display', 'none');
                $('#register').css('display', 'block');
            });
        });
    </script>

    {% if check.delivery == 'D' %}
                {% set delivery = 'Delivery for ' %}
            {% else %}
                {% set delivery = 'Pickup for ' %}
            {% endif %}

            {% if check.when == 'ASAP' %}
                {% set when = ' ASAP' %}
            {% else %}
                {% set when = 'now'|date('j/n') ~ ' ' ~ check.time %}
    {% endif %}

    <div id="when">
        {{ delivery ~ when }}
    </div>

    <div data-role="content">
        <div class="get-space single-options">
            <!-- {{ pg }} -->


            <!--- Start Total  --->
            <table class="ui-body-a ui-shadow table-stripe ui-responsive order-table">
                <tbody>
                    <tr>
                        <td><b>Order Total</b></td>
                        <td id="subtotal">${{ total|number_format(2, '.', '') }}</td>
                    </tr>
                    {% if coupon is defined %}
                        {% set total = 0 %}
                        {% set totalDiscount = 0 %}

                        {% for cart_item in cart_items %}
                            {% if half is defined and half != false %}
                                {% set half = false %}
                            {% endif %}

                            {% if cart_item.product_type == 'half' %}
                                {% set half = 'first' %}

                                {% set total = ( total + ( cart_item.prod_price * cart_item.qty ) ) %}

                                {% for option in cart_item.options %}
                                    {% if half != 'second' and 'second half' in option.name|lower %}
                                        {% set half = 'second' %}
                                    {% endif %}

                                    {% if half == 'first' and cart_item.first_half.has_coupon == 1 %}
                                        {% set discount = ( ( ( option.price * cart_item.qty ) / 100 ) * coupon.discount ) %}
                                        {% set totalDiscount = ( totalDiscount + discount ) %}
                                        {% set total = ( total + ( ( option.price * cart_item.qty ) - discount ) ) %}
                                    {% else %}
                                        {% if half == 'first' %}
                                            {% set total = ( total + ( option.price * cart_item.qty ) ) %}
                                        {% endif %}
                                    {% endif %}

                                    {% if half == 'second' and cart_item.second_half.has_coupon == 1 %}
                                        {% set discount = ( ( ( option.price * cart_item.qty ) / 100 ) * coupon.discount ) %}
                                        {% set totalDiscount = ( totalDiscount + discount ) %}
                                        {% set total = ( total + ( ( option.price * cart_item.qty ) - discount ) ) %}
                                    {% else %}
                                        {% if half == 'second' %}
                                            {% set total = ( total + ( option.price * cart_item.qty ) ) %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor%}
                            {% else %}
                                {% if cart_item.coupon == 1 %}
                                    {% set discount = ( ( ( cart_item.price * cart_item.qty ) / 100 ) * coupon.discount ) %}
                                    {% set totalDiscount = ( totalDiscount + discount ) %}
                                    {% set total = ( total + ( ( cart_item.price * cart_item.qty ) - discount ) ) %}
                                {% else %}
                                    {% set total = ( total + ( cart_item.price * cart_item.qty ) ) %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <td>
                                <b>{{ coupon.name }}</b>
                                <input type="hidden" id="discount" value="{{ totalDiscount }}">
                            </td>
                            <td id="subtotal">-${{ totalDiscount|number_format(2, '.', '') }}</td>
                        </tr>
                    {% endif %}
                    {% if hasDeliveryFee == 1 %}
                        <tr>
                            <td><b>Delivery Fee</b></td>
                            <td id="delivery-fee">{% if delivery_fee is defined and delivery_fee is not empty %}+${{ delivery_fee|number_format(2, '.', ',') }}{% else %}$0.00{% endif %}</td>
                            {% if delivery_fee is defined  %}
                                {% set total = total + delivery_fee %}
                            {% endif %}
                        </tr>
                    {% endif %}
                    {% if paymentFee is defined and paymentFee.value is not null%}
                        <tr>
                            {% set total = total + paymentFee.value %}
                            <td><b>{{ paymentFee.name }}</b></td>
                            <td id="payment_fee">+${{ paymentFee.value|number_format(2, '.', '') }}</td>
                        </tr>
                    {% endif %}

                    {% if low_order is defined and low_order != 0 %}
                        <tr>
                            {% set total = total + low_order %}
                            <td><b>Minimum order fee</b></td>
                            <td id="min_order_fee">+${{ low_order|number_format(2, '.', ',') }}</td>
                        </tr>
                    {% endif %}

                    {% if holidayFee is defined %}
                        <tr>
                            {% set holidatyPrice = ( total / 100 ) * holidayFee %}
                            {% set total = total + holidatyPrice %}
                            <td><b>Public Holiday Fee ({{ holidayFee }}%)</b></td>
                            <td id="holiday_fee">+${{ holidatyPrice|number_format(2, '.', '') }}</td>
                        </tr>
                    {% endif %}

                    <tr>
                        <td><h4>Total</h4></td>
                        <td><h4 id="total">${{ total|number_format(2, '.', '') }}</h4></td>
                    </tr>
                </tbody>
            </table>
        </div>
            <!-- End Total -->
        <input type="hidden" id="cc" data-cc="{%- if paymentFee is defined and paymentFee is not null -%}{{ paymentFee.value }}{%- else -%}0{%- endif -%}" >

            {% if logged == 0 %}

            <div data-role="tabs" id="tabs">
                <div data-role="navbar">
                    <ul>
                        <li><a id="login-tab" href="#" data-ajax="false" class="ui-btn-active">Login</a></li>
                        <li><a id="register-tab" href="#" data-ajax="false">Register</a></li>
                    </ul>
                </div>

                <div id="login" class="ui-body-d ui-content">

                    <hr class="solid" />

                    {% include 'login-form.html.twig' %}

                </div>

                <div id="register" class="ui-body-d ui-content" style="display: none">
                    <div class="get-space"></div>
                    {% include 'profile-form.html.twig' %}
                </div>
            </div>

            {% else %}
                <div class="get-space">
                    <a href="#" data-role="button" data-theme="a" id="log-out"> Not You? Log Out</a>
                </div>

                <div class="get-space"></div>
                {% include 'profile-form.html.twig' %}                
            {% endif %}

    </div>

    <div data-role="footer" data-position="fixed">
        <div class="get-30">
            <a class="btn btn-grey" data-rel="back" data-transition="none">
                <span class="left-arrow-icon"></span>
                Back
            </a>
        </div>
        <div class="get-70">
            <a class="btn btn-blue" href="#" data-transition="none" id="send-order">
                Order Now
                <span class="right-arrow-icon"></span>
            </a>
        </div>
    </div>
    </div><!-- /content -->

{% endblock content %}


{% block footerjs %}

    <script type="text/javascript">

        SOCIALRETURNURL = 'payment/socialLogin';

    </script>
    <script type="text/javascript" src="{{ base_url }}assets/js/account/login.js"></script>
    <script type="text/javascript" src="https://apis.google.com/js/client.js?onload=googleOnLoadCallback" async defer></script>

{% endblock %}