{% extends 'layout.html.twig' %}

{% block content %}

    <script type="text/javascript">
        var low_order = '{{ low_order }}';
        var has_delivery = '{{ hasDeliveryFee }}';

        {% if logged == 0  %}
        var logged = 0;
        {% else %}
        var logged = 1;
        {% endif %}
    </script>


    <div data-role="content">
        <div class="get-space single-options">
            {{ pg }}
            <!--- Start Total  --->
            <table class="ui-body-a ui-shadow table-stripe ui-responsive order-table">
                <tbody>
                    <tr>
                        <td><b>Order Total</b></td>
                        <td id="subtotal">${{ total }}</td>
                    </tr>
                    {% set oldTotal = total %}
                    {% if coupon is defined %}
                        {% set discount = (oldTotal/100)*coupon.discount %}
                        {% set discount = discount %}
                        {% set total = total - discount %}
                        <tr>
                            <td>
                                <b>{{ coupon.name }}</b>
                                <input type="hidden" id="discount" value="{{ discount }}">
                            </td>
                            <td id="subtotal">-${{ discount|number_format(2, '.', '') }}</td>
                        </tr>
                    {% endif %}
                    {% if hasDeliveryFee == 1 %}
                        <tr>
                            <td><b>Delivery Fee</b></td>
                            <td id="delivery-fee">{% if delivery_fee is defined and delivery_fee is not empty %}+${{ delivery_fee }}{% else %}$0{% endif %}</td>
                            {% if delivery_fee is defined  %}
                                {% set total = total + delivery_fee %}
                            {% endif %}
                        </tr>
                    {% endif %}
                    {% if paymentFee is defined and paymentFee.value is not null%}
                        <tr>
                            {% set total = total + paymentFee.value %}
                            <td><b>{{ paymentFee.name }}</b></td>
                            <td>+${{ paymentFee.value }}</td>
                        </tr>
                    {% endif %}

                    {% if low_order is defined and low_order != 0 %}
                        <tr>
                            {% set total = total + low_order %}
                            <td><b>Minimum order fee</b></td>
                            <td>+${{ low_order }}</td>
                        </tr>
                    {% endif %}

                    {% if holidayFee is defined %}
                        <tr>
                            {% set holidatyPrice = (oldTotal/100)*holidayFee %}
                            {% set total = total + holidatyPrice %}
                            <td><b>Public Holiday Fee ({{ holidayFee }}%)</b></td>
                            <td>+${{ holidatyPrice|number_format(2, '.', '') }}</td>
                        </tr>
                    {% endif %}

                    <tr>
                        <td><h4>Total</h4></td>
                        <td><h4 class="left">$</h4><h4 id="total">{{ total|number_format(2, '.', '') }}</h4></td>
                    </tr>
                </tbody>
            </table>
        </div>
            <!-- End Total -->
        <input type="hidden" id="cc" data-cc="{%- if paymentFee is defined and paymentFee is not null -%}{{ paymentFee.value }}{%- else -%}0{%- endif -%}" >
        

            {% if logged == 0 %}

                <hr class="solid" />
                
                {% include 'login-form.html.twig' %}
                
                <div class="get-space">
                    <legend>OR:</legend>
                    <h4 class="center">Register</h4>
                    <input type="hidden" id="page" data-page="{{ static.page }}">
                </div>

            {% else %}
                <div class="get-space">
                    <a href="#" data-role="button" data-theme="a" id="log-out"> Not You? Log Out</a>
                </div>
            {% endif %}

            {% include 'profile-form.html.twig' %}

    </div>

    <div data-role="footer" data-position="fixed">
        <div class="get-30">
            <a class="btn btn-grey" data-rel="back" data-transition="none">
                <span class="left-arrow-icon"></span>
                Back
            </a>
        </div>
        <div class="get-70">
            <a class="btn btn-blue" href="#" data-transition="none" id="send-order">
                Order Now
                <span class="right-arrow-icon"></span>
            </a>
        </div>
    </div>
    </div><!-- /content -->

{% endblock content %}


{% block footerjs %}
    
    <script type="text/javascript">

        SOCIALRETURNURL = 'payment/socialLoker';

    </script>
    <script type="text/javascript" src="{{ base_url }}assets/js/account/login.js"></script>
    <script type="text/javascript" src="https://apis.google.com/js/client.js?onload=googleOnLoadCallback" async defer></script>

{% endblock %}