<div class="single-options get-space clear-heights">

{% for option,entries in options %}
    <div class="ui-grid-a">
        <div class="ui-block-a">
            {{ option }}
        </div>
        <div class="ui-block-b">

            <select name="variation" id="variation" data-mini="true" class="calculate" data-type="{{ option }}" {% if withPoints %}disabled="disabled"{% endif %}>
                {% for item in entries %}
                    <option value="{{ item.variation_id }}" {% if item.variation_price == 0 %} selected{% endif %} data-price="{{ item.variation_price }}"
                            {% if item.half_pizza_group_id !=0 and hasHalf %}data-half-group="{{ item.half_pizza_group_id }}" data-half-fee="{{ item.half_pizza_group_fee }}" {% endif %}>
                        {{ item.variation_name }} - $ {{ item.variation_price }}
                    </option>
                {% endfor %}
            </select>

        </div>
    </div>
{% endfor %}

    {% if not withPoints %}
    <div class="row hide ingredientsHolder">
        <a href="#ingredients"><i class="icon-chevron-sign-right"></i> Add/Modify Ingredients</a>
    </div>
    {% endif %}

</div>
{% if hasHalf and not withPoints %}

    <div class="halfHolder hide">

        <div class="get-space single-options">
            <h2>Fancy Different Half? <small></small></h2>
            <hr>

            <div class="ui-grid-a">
                <div class="ui-block-a">
                    Select:
                </div>
                <div class="ui-block-b">

                </div>
            </div>
        </div>
        <div class="halfPizzaBlock">

        </div>
    </div>

    <input type="hidden" name="half-group-id" value="">
    <input type="hidden" name="half-fee" value="">
    <input type="hidden" name="isHalf" value="0">
{% endif %}
