            
        <div class="get-space single-options">
            <!-- Start Register  -->
            <form id="register_form" class="single-options">
                <div class="error_form_message" id="error_note"></div>

                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <label for="form_firstname">First Name: </label>
                    </div>
                    <div class="ui-block-b">
                        <input type="text" name="first_name" id="form_firstname" value="{%- if logged.first_name is defined -%} {{ logged.first_name }}{%- endif -%}" />
                    </div>
                </div>

                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <label for="form_lastname">Last Name: </label>
                    </div>
                    <div class="ui-block-b">
                        <input type="text" name="last_name" id="form_lastname" value="{%- if logged.last_name is defined -%} {{ logged.last_name }}{%- endif -%}" />
                    </div>
                </div>

                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <label for="form_company">Company Name: </label>
                    </div>
                    <div class="ui-block-b">
                        <input type="text" name="company_name" id="form_company" value="{%- if logged.company_name is defined -%} {{ logged.company_name }}{%- endif -%}" />
                    </div>
                </div>

                <div class="ui-grid-a" >
                    <div class="ui-block-a">
                        <label for="form_address">Address: </label>
                    </div>
                    <div class="ui-block-b">
                        <input type="text" name="address" id="form_address" value="{%- if logged.address is defined -%} {{ logged.address }}{%- endif -%}" />
                    </div>
                </div>

                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <label for="form_suburb">Suburb: </label>
                    </div>
                    <div class="ui-block-b">
                        <select id="form_suburb" name="suburb" data-mini="true">
                            <option value="">Choose Suburb</option>
                            {% for item in static.suburb %}
                                <option value="{{ item.id }}" data-fee="{{ item.delivery_fee }}" {% if logged.suburb is defined and logged.suburb ==  item.id %} selected{% endif %}>
                                    {{ item.suburb_name }}, +${{ item.delivery_fee }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <label for="email">Email: </label>
                    </div>
                    <div class="ui-block-b">
                        <input type="email" name="email" class="required email" {%- if logged is defined and logged != 0 -%} readonly="readonly" {%- endif -%} id="email" value="{%- if logged.email is defined -%} {{ logged.email }}{%- endif -%}" />
                    </div>
                </div>
                    
                {% if logged is not defined or logged == 0 %}
                    
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                            <label for="form_password">Password: </label>
                    </div>
                    <div class="ui-block-b">
                        <input type="password" name="password" id="form_password" value="" />
                    </div>
                </div>
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <label for="form_passconfirm">Confirm Password: </label>
                    </div>
                    <div class="ui-block-b">
                        <input type="password" name="conf_password" id="form_passconfirm" value="" />
                    </div>
                </div>

                {% endif %}

                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <label for="form_mobile">Mobile: </label>
                    </div>
                    <div class="ui-block-b" >
                        <div id="mobile-div">
                            <input type="text" name="mobile" id="form_mobile" maxlength="10" data-current="{{ logged.mobile }}" value="{{ logged.mobile }}" />
                        </div>
                        <div id="verify-div" style="display: none;">
                            <div class="left">
                                <input type="text" name="mobile_code" id="sms-code" data-final="no" maxlength="4" style="width:40px; margin-top: 15px;" />
                            </div>
                            <div class="left" style="padding-left: 10px;">
                                <a href="#" data-role="button" data-inline="true" data-titlestart="Get code" data-titlefinal="Verify" id="verify-btn">Verify</a>
                            </div>
                            <div class="left">
                                <label for="form_mobile_code" id="sms-error-label" class="error" style="margin-left: 10px; margin-top: 15px; display: none;">Incorect Verification code</label>
                            </div>
                        </div>
                    </div>
                </div>

                    {% if regText is not empty %}
                        <div id="reg-text">
                        {{ regText }}
                        </div>
                    {% endif %}

                    
                {% if pg is defined and pg == 'paypal' %}
                    <input type="hidden" name="paypal" value="yes">
                {% else %}
                    <input type="hidden" name="paypal" value="no">
                {% endif %}
                
                {% if pg is defined %}
                    <input type="hidden" id="pg" data-pg="{{ pg }}">
                {% endif %}
                
                {% if saveBtn is defined %}
                    <button data-theme="a" id="save-edit" type="button">Save</button>
                {% endif %}

                  <input type="hidden" id="sms" data-sms="{{ sms }}" />
            </form>

            {% if pg is defined and pg == 'credit-card' %}
                 <hr class="solid" />
                {% include 'checkout/order-login/credit-card.html.twig' %}
            {% endif %}

        </div>

        <!--------  SMS verification popup    ----->

        <div data-role="popup" id="popupDialog" data-overlay-theme="a" data-theme="c" data-dismissible="false" style="max-width:400px;" class="ui-corner-all">
            <div data-role="header" data-theme="a" class="ui-corner-top">
                <h1>Verify Your Mobile</h1>
            </div>
            <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
                <div id="popup-sms-text">
                    <h3 class="ui-title">SMS verification code has been sent to your email id.</h3>
                    <p>It can take up to 2 minutes till you receive it.</p>
                    <p>Once you have please enter it in the form and complete your registration.</p>
                    <div id="popup-sms-btn">
                        <a href="#" data-role="button" data-inline="true" data-rel="back" data-theme="c">Ok</a>
                    </div>
                </div>
            </div>
        </div>
        <!-----  END SMS   ----->
