{% extends 'layout.html.twig' %}

{% block content %}
<script>
    var sms = '{{ sms }}';
</script>


<div data-role="content">
    <div class="get-space">
        <!-- Start Register  -->
        <form id="register_form1" class="single-options">
            <div class="error_form_message" id="error_note"></div>
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <label for="form_firstname">First Name: </label>
                </div>
                <div class="ui-block-b">
                    <input type="text" name="first_name" id="form_firstname1" value="{%- if logged.first_name is defined -%} {{ logged.first_name }}{%- endif -%}" />
                </div>
            </div>
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <label for="form_lastname">Last Name: </label>
                </div>
                <div class="ui-block-b">
                    <input type="text" name="last_name" id="form_lastname1" value="{%- if logged.last_name is defined -%} {{ logged.last_name }}{%- endif -%}" />
                </div>
            </div>

            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <label for="form_company">Company Name: </label>
                </div>
                <div class="ui-block-b">
                    <input type="text" name="company_name" id="form_company1" value="{%- if logged.company_name is defined -%} {{ logged.company_name }}{%- endif -%}" />
                </div>
            </div>

            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <label for="form_address">Address: </label>
                </div>
                <div class="ui-block-b">
                    <input type="text"  name="address" id="form_address1" value="{%- if logged.address is defined -%} {{ logged.address }}{%- endif -%}" />
                </div>
            </div>
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <label for="form_suburb">Suburb: </label>
                </div>
                <div class="ui-block-b">
                    <select id="form_suburb1" name="suburb" data-mini="true" data-theme="a">
                        <option value="">Choose Suburb</option>
                        {% for item in static.suburb %}
                            <option value="{{ item.id }}" {%- if logged.suburb is defined and logged.suburb ==  item.id -%} selected{%- endif -%}>
                                {{ item.suburb_name }}, +${{ item.delivery_fee }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <label for="email">Email: </label>
                </div>
                <div class="ui-block-b">
                    <input type="email" name="email" id="email1" value="{%- if logged.email is defined -%} {{ logged.email }}{%- endif -%}" />
                </div>
            </div>

            {% if logged is not defined or logged is empty %}
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <label for="form_password">Password: </label>
                    </div>
                    <div class="ui-block-b">
                        <input type="password" name="password" id="form_password1" value="" />
                    </div>
                </div>
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <label for="form_passconfirm">Confirm Password: </label>
                    </div>
                    <div class="ui-block-b">
                        <input type="password" name="conf_password" id="form_passconfirm1" value="" />
                    </div>
                </div>
            {% endif %}


            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <label for="form_mobile">Mobile: </label>
                </div>
                <div class="ui-block-b">
                    <input type="text" name="mobile" maxlength="10" id="form_mobile1" value="{%- if logged.mobile is defined -%} {{ logged.mobile }}{%- endif -%}" />
                    <input type="hidden" id="old_mobile1" value="{%- if logged.mobile is defined -%} {{ logged.mobile }}{%- endif -%}" />
                </div>
            </div>


            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <label for=""></label>
                </div>
                <div class="ui-block-b">
                    <div class="hide" id="sms-verify1">
                        <div class="left">
                            <a href="#" data-role="button" data-inline="true" id="verify-btn2" >Verify</a>
                        </div>
                        <div class="left">
                            <input type="text" id="sms-code1" data-sendcode="no" maxlength="4" data-final="no" />
                            <span class="hide" id="sms-code-error1">Incorect Verification code.</span>
                        </div>

                    </div>
                </div>
            </div>


            <button data-theme="a" id="save-edit" type="button">Save</button>
        </form>
        <!--------  SMS verification popup    ----->
        <div data-role="popup" id="popupCode" data-overlay-theme="a" data-theme="c" data-dismissible="false" style="max-width:400px;" class="ui-corner-all">
            <div data-role="header" data-theme="a" class="ui-corner-top">
                <h1>Verify Your Mobile</h1>
            </div>
            <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
                <div id="popup-sms-text">
                    <h3 class="ui-title">SMS verification code has been sent to your email id.</h3>
                    <p>It can take up to 2 minutes till you receive it.</p>
                    <p>Once you have please enter it in the form and complete your registration.</p>
                    <div id="popup-sms-btn">
                        <a href="#" data-role="button" data-inline="true" data-rel="back" data-theme="c">Ok</a>
                    </div>
                </div>
            </div>
        </div>
        <!-----  END SMS   ----->
    </div>
</div>
{% endblock %}

{% block footerjs %}

    {#<script type="text/javascript" src="{{ base_url }}assets/js/account/edit.js"></script>#}
{% endblock %}