<div data-role="header" data-theme="pizza" data-position="fixed">
    <div class="top-bar">
        <a class="top-button {% if isopen.isOpen %}store-open{% else %}store-close{% endif %}" href="{{ base_url }}about-us" title="{% if isopen.isOpen %}Our shop is OPEN!{% else %}Our shop is CLOSED!{% endif %}" data-transition="none"><i class="icon-time"></i></a>
        <div class="top-bar-title"><a href="{{ base_url }}menu" data-transition="none">{{ settings.SITETITLE }}</a></div>

        {% if logged is defined and (logged == 1 or logged.first_name is defined)  %}
            <a class="top-button right-button top-points" href="{{ base_url }}my-account" data-transition="none">
                {% if loyalityProgram == 'enable'%}
                    <span class="points">
                        {{ userPoints }}
                    </span>
                    <span class="text">
                        points
                    </span>
                {% else %}
                    <i class="icon-user"></i>
                {% endif %}

            </a>
        {% else %}
            <a class="top-button right-button" href="{{ base_url }}login_page" data-transition="none"><i class="icon-user"></i></a>
        {% endif %}
    </div>
    {% if isopen.isOpen != true %}
        {% if page is not defined %}
            {% set showWeClosed = true %}
        {% else %}
            {% if page.isAbout is not defined %}
                {% set showWeClosed = true %}
            {% else %}
                {% set showWeClosed = false %}
            {% endif %}
        {% endif %}
    {% else %}
        {% set showWeClosed = false %}
    {% endif %}
    {% if showWeClosed %}
        <div class="we-closed">
            <a href="{{ base_url }}about_us"><p>We are currently closed. We will open again on {{ isopen.we_will_open|date('l j/n \a\t ga') }}<br />See our full schedule here.</p></a>
        </div>
    {% endif %}
</div><!-- /header -->